body{
  margin:0 auto;
}

#page-header{
  width:100%;
  height:75px;
  background-color:white;
  box-shadow:1px 1px 12px 1px black;
  position:fixed;
  z-index:1;
}

*{
  font-family: 'Open Sans', sans-serif;
}

#mirror-left-side{
  margin-top:20px;
  float:left;
  width:30%;
}

#mirror-right-side{
  float:right;
  width:60%;
}

#panam-left-side{
  margin-top:20px;
  float:left;
  width:60%;

}

#panam-right-side{
  float:right;
  width:30%;
}

#panam-left-side p{

}

#spotify-right-side{
  float:right;
  width:25%;
}

#spotify-left-side{
  margin-top:20px;
  float:left;
  width:65%;
}

#heem-right-side{
  float:right;
  width:65%;
}

#heem-left-side{
  margin-top:20px;
  float:left;
  width:25%;

}

#iframe{
  margin-top:20px;
  border:solid white 2px;
  background-color:;
  height:500px;
  width:90%;
  padding:0%;
  /*border-radius:7px;*/


}

main p{
  padding:5%;
  margin-top:-10%;
  color:black;
  font-size:24px;
}

main h1{
  padding:5%;
  color:black;

}

main a{
  padding:5%;
  text-decoration:none;
  font-size:24px;
  color:black;

}




#header-content-one{
  color:white;
  font-size:40px;
}

#header-content-two{
  color:white;
  font-size:30px;
}

#hey{
  font-size:36px;
}

main{
  height:600px;
  background-color:white;

  padding-top:00px;
  /*padding-left:15%;
  padding-right:15%;*/
}

/*main h1{
float:left;
}
main img{
float:right;
}
*/

#main-content{
  color:yellow;
  border:none;
  background-color:black;
  height:700px;
  background:url('portfolio_header.jpg');
  background-size:cover;



}

#main-content #sample-video{
  background-size:cover;
  position:absolute;

}

#main-nav a{
  color:black;
  font-size:18px;
  margin-left:10%;
  text-decoration:none;
}

#main-nav a:hover{
  font-size:24px;
  color:#08457e;
  font-weight:bolder;
}

#logo{
  float:left;
  position:fixed;
  height:90px;
  width:250px;
  margin:3%;
  background-color:#08457e;
 /* background-image: linear-gradient(to right top, #08457e, #416796, #6c8aaf, #98afc7, #c7d4e0);*/
  border:solid black 3px;
  border-radius:1px;
/*  opacity:.9;*/
}


#social-media{
  float:right;
  margin-left:5%;
  width:20%;
  height:75px;
  background-color:#e4e4e4;
  opacity:.9;
}

#main-nav{
display:inline-block;
margin-top:10px;
margin-left:28%;
width:40%;

}

footer{
  background-color:#e4e4e4;
  height:300px;
  width:100%;
}


#ux-project-one{
margin-top:0%;
width:100%;

}



#my-project{
  width:600px;
  height:500px;
  background-color:black;


}

#my-project p{

  width:100%;
}



#main-content{
  z-index:1;
}

#main-content div {
  display:inline-block;
  margin:0 auto;
  color:white;
}

#ux-project-one h3{
  margin-top:100px;
  margin:10%;
}

#ux-project-one div{
  margin:10%;
  margin-top:-8%;
  background-color:black;
  width:1000px;
  height:300px;
}

#ux-project-one p{
  color:white;
}

#main-content div{
  margin:10%;
}


#my-project p{
  color:white;

  margin:5%;
  margin-left:5%;
  display:inline-block;
}

section{
  margin:5%;
}

section div{
  height:400px;
  background-color:blue;
}

.project{
  text-decoration:none;
}

#logo h1{
  padding-left:40px;
  padding-top:-10px;
  color:white;
  font-weight:lighter;
  position:fixed;

}

#mirror-project-with-case{
  background-image:url('mirror.jpg');
  border:none;
}

#panam-project-with-case{
  background-image:url('panam.jpg');
}

#spotify-project-with-case{
  background-image:url('spotify.jpg');
}

#heem-project-with-case{
  background-image:url('heem.jpg');
}

#container{
  height:1200px;
}

form{
  font-size:24px;
  width:20%;
  position:absolute;
  margin:15%;
  margin-left:35%;
}

form label{
  padding:1px;
  padding-top:25px;
  font-family:'Opens Sans', sans-serif;
}

form input{
  font-size:24px;
  padding:5px;
}

form select{
  font-size:24px;
}

form textarea{
  font-size:24px;
  width:400px;
}

form button{
  font-size:24px;
  margin-left:65%;
  border-radius:3px;
  box-shadow:0px 0px 3px 0px black;
  border:none;
}

form div{
  padding:4%;
}

video{
  width:100%;
}












