body{
  margin:0 auto;
}

#page-header{
  width:100%;
  height:75px;
  background-color:black;
  /*box-shadow:1px 1px 1px 1px white;*/
  position:fixed;
  z-index:1;
}

#mirror-left-side{
  margin-top:20px;
  float:left;
  width:30%;
}

#mirror-right-side{
  float:right;
  width:60%;
}

#panam-left-side{
  margin-top:20px;
  float:left;
  width:60%;

}

#panam-right-side{
  float:right;
  width:30%;
}

#panam-left-side p{

}

#spotify-right-side{
  float:right;
  width:25%;
}

#spotify-left-side{
  margin-top:20px;
  float:left;
  width:65%;
}

#heem-right-side{
  float:right;
  width:65%;
}

#heem-left-side{
  margin-top:20px;
  float:left;
  width:25%;

}

#iframe{
  margin-top:20px;
  border:solid white 1px;
  background-color:black;
  height:500px;
  width:90%;
  padding:0%;


}

main p{
  padding:5%;
  margin-top:-10%;
  color:black;
}

main h1{
  padding:5%;
  color:black;
}

main{
  height:600px;
  background-color:white;
  border:solid black 0px;
  padding:10px;
  /*padding-left:15%;
  padding-right:15%;*/
}

/*main h1{
float:left;
}
main img{
float:right;
}
*/

#main-content{
  color:black;
  border:none;
  background-color:black;
  opacity:2;
  height:620px;
  background:url('background-portfolio.jpg');
  background-size:cover;
}

#main-nav a{
  color:white;
  font-size:18px;
  margin-left:10%;
  text-decoration:none;
}

#logo{
  float:left;
  height:75px;
  width:200px;
  background-color:navy;
}

#logo h3{
  padding:10px;
  padding-left:40px;
  color:white;
}

#social-media{
  float:right;
  margin-left:5%;
  width:20%;
  height:75px;
  background-color:navy;
}

#main-nav{
display:inline-block;
margin-top:15px;
margin-left:10%;
width:40%;

}

footer{
  background-color:magenta;
  height:400px;
  width:100%;
}


#ux-project-one{
width:100%;

}

#ux-pro

#my-project{
  width:600px;
  height:500px;
  background-color:black;


}

#my-project p{

  width:100%;
}



#main-content{
  z-index:1;
}

#main-content div {
  display:inline-block;
  margin:0 auto;
  color:white;
}

#ux-project-one h3{
  margin-top:100px;
  margin:10%;
}

#ux-project-one div{
  margin:10%;
  margin-top:-8%;
  background-color:black;
  width:1000px;
  height:300px;
}

#ux-project-one p{
  color:white;
}

#main-content div{
  margin:10%;
}


#my-project p{
  color:white;

  margin:5%;
  margin-left:5%;
  display:inline-block;
}

section{
  margin:5%;
}

section div{
  height:400px;
  background-color:blue;
}
















